.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.spinner-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9bb7d4;
  border-color: #9bb7d4 transparent #9bb7d4 transparent;
  animation: spinner-dual-ring 1.2s linear infinite;
}
@keyframes spinner-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-position-set {
  height: 50vh;
}

.adjust-height {
  height: 66vh !important;
}
